<template>
  <section :style="{ backgroundImage: `url(${require(`@/assets/images/galactic-map/galactic-map.jpg`)})` }">
    <div class="container">
      <div class="star star-1"></div>
      <div class="star star-2"></div>
      <div class="star star-3"></div>
      <div class="star star-4"></div>
      <div class="star star-5"></div>

      <div class="buttons is-galaxy-map has-text-centered" v-if="!currentFaction">
        <div class="is-planet" v-for="faction in factions" :id="faction.planet" :key="faction.planet">
          <button class="button is-world" :disabled="disableFaction(faction.id)"
                  @click="selectFaction(faction.id)" @mouseover="onMouseOver">
            {{ faction.race }}
          </button>

          <div class="planet"></div>

          <img class="planet-image" v-if="faction.id !== 1"
               :src="require(`@/assets/images/galactic-map/${faction.soloImage}`)">
          <img class="planet-image" v-else
               :src="require(`@/assets/images/galactic-map/${selectedAvatar.name.toLowerCase()}.png`)">
        </div>
      </div>

      <div class="planet-info is-light" v-else>
        <div class="planet-solo-image">
          <img :src="getSoloImage(faction)" alt="">
        </div>

        <div class="planet-solo-text">
          <audio :src="require(`@/assets/audio/ai-audio/${faction.audio}`)" autoplay></audio>
          <h1>{{ faction.race }}</h1>
          <p>{{ faction.description }}</p>

          <button class="button is-blue" @click="startQuiz(faction.id)" @mouseover="onMouseOver"
                  v-if="faction.id !==1 && faction.id !==5">
            Speak to {{ faction.name }}
          </button>

          <button class="button is-red" @click="backToMap" @mouseover="onMouseOver">Back to Galactic Map</button>
        </div>
      </div>

      <div class="proceed" v-if="!currentFaction && isCompleted">
        <button class="button is-yellow" @click="proceedToConclusion" @mouseover="onMouseOver">
          Proceed to Final Act
        </button>
      </div>

      <div class="tutorial-bar" v-if="isOnMap">
        <div class="tutorial-info">
          <img :src="require(`@/assets/icons/info.png`)" :class="{ active: showTutorial }" @mouseover="onMouseOver"
               alt="Info icon" @click="showingTutorial">
        </div>

        <div class="tutorial-buttons">
          <transition enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOutLeft">
            <div v-show="showTutorial">
              <button class="button is-blue open-modal" @click="openModal(tutorial)" @mouseover="onMouseOver"
                      :key="tutorial.name" v-for="tutorial in tutorials">
                {{ tutorial.name }}
              </button>
            </div>
          </transition>

          <div class="ai-help is-light" v-show="helpIcon">
            <audio v-if="helpFileAudio" :src="require(`@/assets/audio/ai-audio/ai-briefing-files-map.mp3`)"
                   autoplay></audio>
            <p class="content">
              Your briefing files have been saved onto the system. You can refer to them at any time by clicking here.
            </p>
          </div>
        </div>
      </div>
    </div>

    <tutorial-modal :selectedTutorial="selectedTutorial" :isActive="isActive" @closeModal="closeModal" v-if="isActive"/>

    <activity-modal :isMapHelpActive="isMapHelpActive" @closeModal="closeModal" v-if="isMapHelpActive"/>
  </section>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'
  import TutorialModal from '@/components/TutorialModal'
  import ActivityModal from '@/components/ActivityModal'

  export default {
    name: 'Activity',
    components: { TutorialModal, ActivityModal },
    data () {
      return {
        isOnMap: true,
        showTutorial: false,
        helpFileAudio: false,
        selectedTutorial: {},
        isActive: false,
        isMapHelpActive: true,
        helpIcon: true
      }
    },
    computed: {
      ...mapState(['factions', 'currentFaction', 'currentFactionIndex', 'arraySelectedFaction', 'tutorials', 'selectedAvatar']),
      ...mapGetters(['faction', 'isCompleted'])
    },
    mounted () {
      this.changeBGM()
    },
    methods: {
      playAudio (path) {
        const audio = document.createElement('audio')

        audio.src = path
        audio.load()

        audio.play()
      },
      onMouseOver (ev) {
        if (!ev.target.disabled) this.playAudio(require(`@/assets/audio/hover.mp3`))
      },
      changeBGM () {
        const backgroundMusic = document.querySelector('audio#bg-music')

        backgroundMusic.src = require(`@/assets/audio/bg-activity.mp3`)
        backgroundMusic.load()

        backgroundMusic.play()
      },
      getSoloImage () {
        let img = ''
        if (this.faction.id !== 1) {
          img = require(`@/assets/images/galactic-map/${this.faction.soloImage}`)
        } else {
          img = require(`@/assets/images/galactic-map/${this.selectedAvatar.name.toLowerCase()}.png`)
        }
        return img
      },
      startQuiz (id) {
        this.isOnMap = true

        if (this.faction.quiz) {
          this.$store.commit('appendSelectedFaction', id)

          this.$router.push('/quiz')
        } else {
          this.$store.commit('setCurrentFaction', null)

          this.$router.push('/activity')
        }
      },
      selectFaction (id) {
        this.isOnMap = false
        this.helpFileAudio = false

        this.$store.commit('setCurrentFactionIndex', id - 1)
        this.$store.commit('setCurrentFaction', true)
      },
      backToMap () {
        this.isOnMap = true

        this.$store.commit('setCurrentFaction', false)
      },
      disableFaction (id) {
        return this.arraySelectedFaction.some(faction => faction === id)
      },
      proceedToConclusion () {
        this.$router.push('/conclusion')
      },
      showingTutorial () {
        this.showTutorial = !this.showTutorial
        this.helpIcon = false
      },
      openModal (tutorial) {
        this.helpIcon = false
        this.selectedTutorial = tutorial
        this.isActive = true
      },
      closeModal () {
        this.isMapHelpActive = false
        this.helpFileAudio = true
        this.isActive = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  $bold: 'blender pro bold', sans-serif;
  $book: 'blender pro book', sans-serif;
  $heavy: 'blender pro heavy', sans-serif;

  .is-galaxy-map {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-row-gap: 15vh;
    grid-template-rows: 21vh;
  }

  .is-planet {
    position: relative;
    margin: 0 auto;

    button {
      border-radius: 0;
      font-size: 1.4em;
    }

    .planet-image {
      opacity: 0;
      position: absolute;
      height: 12vh;
      left: -5vw;
      top: 0;
    }

    .planet {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }

  @keyframes rotate {
    0% {
      background-position: 0 center;
    }
    50% {
      background-position: 100% center;
    }
    100% {
      background-position: 300% center;
    }
  }

  @keyframes shine {
    to {
      background-position: 150% center;
    }
  }

  #human {
    grid-column: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      .is-world {
        border: 1px solid #411b03;
        background: linear-gradient(to right, #3bfaf5 30%, #411b03 60%, #4bfe91 90%);
        background-size: 1000% auto;
        color: rgba(36, 30, 37, 1);
        animation: shine 1.5s linear reverse;
        animation-iteration-count: 1;
      }

      .planet {
        transform: rotate(55deg);
        background: radial-gradient(#4bfe91 15%, #3bfaf5 30%, #411b03 70%, #4bfe91 100%);
        background-size: 300% auto;
        animation: rotate 3s ease-in-out infinite reverse;
      }

      .planet-image {
        transition: all 1s;
        opacity: 1;
        left: -2.5vw;
      }
    }

    .planet {
      background: linear-gradient(to bottom, #4bfe91 1%, #3bfaf5 65%, #411b03 100%);
      transform: rotate(-35deg);
    }
  }

  #igni {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      .is-world {
        border: 1px solid #fecf4e;
        background: linear-gradient(to right, #fecf4e 30%, #310441 60%, #a62a44 90%);
        background-size: 1000% auto;
        color: rgba(36, 30, 37, 1);

        animation: shine 1.5s linear reverse;
        animation-iteration-count: 1;
      }

      .planet {
        transform: rotate(-55deg);
        background: radial-gradient(#fecf4e 15%, #a62a44 30%, #310441 70%, #fecf4e 100%);
        background-size: 300% auto;
        animation: rotate 3s ease-in-out infinite reverse;
      }

      .planet-image {
        transition: all 1s;
        opacity: 1;
        left: -2.5vw;
      }
    }

    .planet {
      background: linear-gradient(to bottom, #fecf4e 1%, #a62a44 50%, #310441 100%);
      transform: rotate(35deg);
    }
  }

  #eruditian {
    grid-column: 1/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      .is-world {
        border: 1px solid #cfa7e9;
        background: linear-gradient(to right, #67c5e1 30%, #ebc4c9 60%, #cfa7e9 90%);
        background-size: 1000% auto;
        color: rgba(36, 30, 37, 1);
        animation: shine 1.5s linear reverse;
        animation-iteration-count: 1;
      }

      .planet {
        transform: rotate(55deg);
        background: radial-gradient(#cfa7e9 15%, #ebc4c9 25%, #ebc4c9 45%, #67c5e1 70%);
        background-size: 300% auto;
        animation: rotate 3s ease-in-out infinite reverse;
      }

      .planet-image {
        transition: all 1s;
        opacity: 1;
        left: -2.5vw;
      }
    }

    .planet {
      background: linear-gradient(to bottom, #67c5e1 1%, #ebc4c9 40%, #ebc4c9 55%, #cfa7e9 100%);
      transform: rotate(-15deg);
    }
  }

  #formicid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      .is-world {
        border: 1px solid #6e3636;
        background: linear-gradient(to right, #f7cdc4 30%, #6e3636 60%, #df8178 90%);
        background-size: 1000% auto;
        color: rgba(36, 30, 37, 1);
        animation: shine 1.5s linear reverse;
        animation-iteration-count: 1;
      }

      .planet {
        transform: rotate(-55deg);
        background: radial-gradient(#f7cdc4 15%, #6e3636 35%, #6e3636 45%, #df8178 70%);
        background-size: 300% auto;
        animation: rotate 3s ease-in-out infinite reverse;
      }

      .planet-image {
        transition: all 1s;
        opacity: 1;
        left: -2.5vw;
      }
    }

    .planet {
      background: linear-gradient(to bottom, #f7cdc4 1%, #df8178 50%, #6e3636 100%);
      transform: rotate(25deg);
    }
  }

  #cephalord {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:hover {
      .is-world {
        border: 1px solid floralwhite;
        background: linear-gradient(to right, #22465c 30%, #22465c 60%, #0a0e11 90%);
        background-size: 1000% auto;
        color: floralwhite;
        animation: shine 1.5s linear reverse;
        animation-iteration-count: 1;
      }

      .planet {
        transform: rotate(-55deg);
        background: radial-gradient(#22465c 15%, #22465c 25%, #0a0e11 45%, #22465c 70%);
        background-size: 300% auto;
        animation: rotate 3s ease-in-out infinite reverse;
      }

      .planet-image {
        transition: all 1s;
        opacity: 1;
        left: -2.5vw;
      }
    }

    .planet {
      background: linear-gradient(to bottom, #22465c 1%, #0f171e 50%, #0a0e11 100%);
      transform: rotate(-35deg);
    }
  }

  .planet-info {
    display: grid;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: 30% 60%;
    grid-column-gap: 10%;
    background-color: rgba(0, 0, 0, 0.4);

    .planet-solo-image {
      img {
        width: 100%;
      }
    }

    .planet-solo-text {
      padding: 20% 15% 0 0;

      h1 {
        font-family: $heavy;
        font-size: 3.28em;
        margin-bottom: 5%;
      }

      p {
        font-family: $bold;
        font-size: 1.4em;
      }

      button {
        margin-top: 15%;
        font-size: 1.3em;
      }
    }
  }

  .tutorial-bar {
    display: grid;
    margin-left: 5%;
    grid-template-columns: 10% 80%;

    .tutorial-buttons {
      margin-left: -5%;
      margin-top: 1vh;
      overflow: hidden;

      button {
        margin: 1vh 1vw;
        font-size: 0.9em;
      }
    }

    .tutorial-info {
      width: 50%;
      img {
        animation: pulse 1s infinite;

        &:hover {
          cursor: pointer;
          animation: brightness 3s infinite;
        }
      }

      .active {
        animation: brightness 3s infinite;
      }
      @keyframes pulse {
        0%, 100% {
          transform: scale(1);
          filter: brightness(1);
        }

        50% {
          transform: scale(1.02);
          filter: brightness(1.6);
        }
      }
      @keyframes brightness {
        0%, 100% {
          filter: brightness(5);
        }
        50% {
          filter: brightness(10);
        }
      }
    }
  }

  .ai-help {
    width: 70%;

    p {
      background-color: rgba(0, 0, 0, 0.55);
      padding: 1%;
      font-size: 1.2em;
      font-family: $bold;
    }
  }

  .proceed {
    margin: 0 35%;

    button {
      font-size: 1.2em;
      width: 100%;
    }
  }

  .star {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    background-color: white;
    animation: shooting 5s linear infinite;

    &:before {
      content: "";
      position: absolute;
      width: 100px;
      height: 1px;
      right: 1px;
      top: 0;
      background: linear-gradient(to right, rgba(black, 0) 0%, rgba(white, .4) 100%);
    }
  }

  .star-1 {
    top: 38.3%;
    animation: shooting 9s 1s linear infinite
  }

  .star-2 {
    top: 10%;
    animation: shooting 8s 1s linear infinite
  }

  .star-3 {
    top: 25%;
    animation: shooting 3s 2s linear infinite
  }

  .star-4 {
    top: 45.5%;
    animation: shooting 6.5s 2s linear infinite
  }

  .star-5 {
    top: 73.3%;
    animation: shooting 7.5s 1s linear infinite
  }

  @keyframes shooting {
    from {
      left: -25vw
    }
    to {
      left: calc(100% + 15vw)
    }
  }
</style>
