<template>
  <div class="modal" :class="{ 'is-active': isMapHelpActive }">
    <div class="modal-background" @click="closeModal"></div>

    <div class="modal-card">
      <div class="modal-card-head">
        <h1>Galactic Map Tutorial</h1>
      </div>

      <div class="modal-card-body">
        <p class="content">
          <audio :src="require(`@/assets/audio/ai-audio/ai-select-planet.mp3`)" autoplay></audio>
          Select the faction labels on the map to find out more about an alien faction.
        </p>

        <div class="video has-text-centered">
          <video :src="require(`@/assets/videos/help-clip.mp4`)" autoplay loop></video>
        </div>

        <p>When ready, you may choose to seek an audience and speak with any of them.</p>

        <div class="buttons">
          <button class="button is-blue" @click="closeModal">Begin</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ActivityModal',
    props: {
      isMapHelpActive: Boolean
    },
    methods: {
      closeModal () {
        this.$emit('closeModal')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $heavy: 'blender pro heavy', sans-serif;
  $bold: 'blender pro bold', sans-serif;
  $book: 'blender pro book', sans-serif;

  .modal-card {

    .modal-card-head {
      background-color: rgba(255, 255, 255, 0.6);
      border-color: black;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      align-items: left;

      h1 {
        font-family: $heavy;
        font-size: 3em;
        line-height: 80%;
      }
    }

    .modal-card-body {
      background-color: rgba(255, 255, 255, 0.6);

      img {
        margin-top: 10%;
        border: 2px solid #2b2b2b;
      }

      video {
        width: 50%;
      }

      p {
        font-family: $bold;
        font-size: 1.45em;
        line-height: 100%;
      }

      .buttons button {
        margin: auto auto;
      }
    }
  }
</style>
