<template>
  <section :style="{ backgroundImage: `url(${require(`@/assets/images/choose-avatar/background.jpg`)})` }">
    <div class="container">
      <div class="page-one is-light has-text-centered" v-if="storyCounter === 0">
        <div class="page-one-text">
          <h1>Voice Against The Void</h1>

          <p class="content">Before we begin, please choose who you would like to play as.
            <br/>
            <small>(This choice will not affect your gameplay)</small>
          </p>
        </div>

        <div class="has-avatar">
          <div class="page-one-avatar" :key="avatar.name" v-for="avatar in avatars">
            <img :id="`avatar-${avatar.name.toLowerCase()}`"
                 :src="require(`@/assets/images/choose-avatar/${avatar.isHover ? `${avatar.name.toLowerCase()}.png` : `${avatar.name.toLowerCase()}-hologram.png` }`)"
                 class="is-avatar" :class="`is-${avatar.name.toLowerCase()}`"
                 :alt="`Avatar of a ${avatar.name.toLowerCase()}`" @click="confirmSelection(avatar)"
                 @mouseover="onMouseOver(avatar)" @mouseleave="onMouseLeave(avatar)"/>
          </div>
        </div>
      </div>

      <div class="content is-fixed-bottom is-light" v-else>
        <audio :src="require(`@/assets/audio/narration/${stories[storyCounter].audio}`)" autoplay></audio>

        <div v-if="storyCounter === 2" v-for="spaceship in stories[storyCounter].spaceships" :key="spaceship.id">
          <div :class="spaceship.name">
            <img :src="require(`@/assets/images/spaceships/${spaceship.image}`)" alt="">
          </div>
        </div>

        <div v-if="storyCounter === 5">
          <div class="cephalord">
            <img :src="require(`@/assets/images/galactic-map/${stories[storyCounter].image}`)" alt="">
          </div>
        </div>

        <transition enter-active-class="animated fadeIn">
          <div class="avatar-story" :key="storyCounter">
            <p class="content is-medium">{{ stories[storyCounter].text }}</p>

            <button class="button is-yellow is-large" @click="nextStory">Continue<span>⬕</span></button>
          </div>
        </transition>
      </div>
    </div>

    <transition enter-active-class="animated fadeIn">
      <confirm-avatar :isActive="isActive" :selectedAvatar="selectedAvatar"
                      @incrementStoryCounter="incrementStoryCounter" @closeModal="closeModal" v-if="isActive"/>
    </transition>
  </section>
</template>

<script>
  import { mapState } from 'vuex'
  import ConfirmAvatar from '@/components/ConfirmAvatar'

  export default {
    name: 'ChooseAvatar',
    components: { ConfirmAvatar },
    data () {
      return {
        isActive: false,
        selectedAvatar: {},
        storyCounter: 0,
        hasSpaceShips: false
      }
    },
    computed: {
      ...mapState(['avatars', 'stories', 'correctScreen'])
    },
    methods: {
      playAudio (path) {
        const audio = document.createElement('audio')

        audio.src = path
        audio.load()

        audio.play()
      },
      onMouseOver (avatar) {
        this.playAudio(require(`@/assets/audio/hover.mp3`))

        this.$store.commit('toggleAvatarHover', avatar)
      },
      onMouseLeave (avatar) {
        this.$store.commit('toggleAvatarHover', avatar)
      },
      confirmSelection (avatar) {
        this.selectedAvatar = avatar

        this.playAudio(require(`@/assets/audio/click.mp3`))

        this.openModal()
      },
      changeBackground () {
        let path
        let gender = this.selectedAvatar.name.toLowerCase()
        let name = this.stories[this.storyCounter].name.toLowerCase().replace(/\s+/g, '-')

        if (this.stories[this.storyCounter].hasGender) {
          path = `${gender}-${name}`
        } else {
          path = `${name}`
        }

        const background = `url(${require(`@/assets/images/stories/scene-${path}.jpg`)})`
        const section = document.querySelector('section')

        section.style.backgroundImage = background
        section.style.backgroundRepeat = 'no-repeat'
        section.style.backgroundSize = 'cover'
      },
      incrementStoryCounter () {
        this.storyCounter++

        this.changeBackground()

        this.hasSpaceShips = this.stories[this.storyCounter].hasSpaceShips
      },
      nextStory () {
        if (this.storyCounter >= this.stories.length - 1) {
          this.$router.push('/introduction')
        } else {
          this.closeModal()
          this.changeBackground()
          this.incrementStoryCounter()
        }
      },
      openModal () {
        this.isActive = true
      },
      closeModal () {
        this.isActive = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  $book: 'blender pro book', sans-serif;
  $heavy: 'blender pro heavy', sans-serif;

  .container {
    height: 100vh;
    overflow: hidden;
  }

  .page-one-text {

    h1 {
      font-family: $heavy;
      line-height: 100%;
      font-size: 6.5em;
    }

    p {
      font-family: $book;
      line-height: 100%;
      font-size: 1.45em;
    }
  }

  .has-avatar {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .page-one-avatar {
    padding-top: 5%;
  }

  .is-avatar {
    height: 80vh;
    cursor: pointer;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;

    &:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      transform: scale(1.1);
      -webkit-animation: blur 0.5s;
      -moz-animation: blur 0.5s;
      animation: blur 0.5s;
    }
  }

  @keyframes blur {
    0%, 100% {
      filter: blur(0px) grayscale(0%);
      -webkit-filter: blur(0px) grayscale(0%);
      -moz-filter: blur(0px) grayscale(0%);
    }
    40% {
      filter: blur(3px) grayscale(40%);
      -webkit-filter: blur(3px) grayscale(40%);
      -moz-filter: blur(3px) grayscale(40%);
    }
  }

  .avatar-story {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 15vh;
    background-color: rgba(36, 30, 37, 0.8);
    position: relative;

    p {
      margin: 1% 0 0 5%;
      font-family: $book;
      font-size: 1.95em;
      line-height: 100%;
      white-space: pre-line;
    }

    button {
      margin: 8% 25%;
      font-size: 1.5em;
      line-height: 100%;
      height: 8vh;
    }
  }

  .spaceship-one {
    max-width: 15%;
    position: fixed;
    top: 0;
    left: 0;
    animation: zoomOne 0.5s forwards;

    @keyframes zoomOne {
      0% {
        transform: translate(-40vw, -20vh);
        filter: hue-rotate(1000deg);
      }
      100% {
        filter: hue-rotate(0deg);
        transform: translate(12vw, 17vh);
      }
    }
  }

  .spaceship-two {
    position: fixed;
    max-width: 25%;
    bottom: 0;
    left: 0;
    animation: zoomTwo 0.5s forwards;

    @keyframes zoomTwo {
      0% {
        transform: translate(-40vw, 20vh) scale(3);
        filter: brightness(20)
      }
      100% {
        transform: translate(12vw, -15vh) scale(1);
        filter: brightness(1)
      }
    }
  }

  .spaceship-three {
    position: fixed;
    max-width: 50%;
    bottom: 0;
    right: 0;
    animation: zoomThree 0.5s forwards;

    @keyframes zoomThree {
      0% {
        transform: translate(40vw, -44vh) scale(3);
        filter: grayscale(100%);
      }
      100% {
        transform: translate(-2vw, -13vh) scale(1);
        filter: grayscale(0%);
      }
    }
  }

  .spaceship-four {
    max-width: 20%;
    position: fixed;
    top: 0;
    right: 0;
    animation: zoomFour 0.5s forwards;

    @keyframes zoomFour {
      0% {
        transform: translate(40vw, 0) scale(0);
        filter: sepia(100%)
      }
      100% {
        transform: translate(-8vw, 10vh) scale(1);
        filter: sepia(0%)
      }
    }
  }

  .cephalord {
    max-width: 20vw;
    position: fixed;
    top: 1.5vh;
    left: 20.5vw;
    animation: disappear 0.5s forwards;

    @keyframes disappear {
      0% {
        filter: opacity(1) brightness(2);
      }
      100% {
        filter: opacity(0) brightness(0);
      }
    }
  }
</style>
