<template>
  <section class="hero is-fullheight"
           :style="{ backgroundImage: `url(${require(`@/assets/images/stories/scene-voice.jpg`)})`}">
    <transition leave-active-class="animated slideOutUp">
      <video :key="videoEnded" :src="video" autoplay @ended="onVideoEnded" v-if="!videoEnded"></video>
    </transition>

    <transition enter-active-class="animated slideInUp">
      <div :key="videoEnded" class="hero-body" v-if="videoEnded">
        <div class="container">
          <div class="columns has-text-centered">
            <div class="ending column">
              <p class="content">{{ conclusion.text }}</p>

              <img :src="require(`@/assets/images/tutorial/ai-helper.png`)" alt="Image of AI Helper"/>

              <h3>Final Score: {{ totalScore }}</h3>

              <audio :src="require(`@/assets/audio/ai-audio/${conclusion.audio}`)" autoplay></audio>

              <button class="button is-yellow" @click="replayGame">Replay</button>
              <button class="button is-yellow" @click="gotoCredits">End</button>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </section>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'

  export default {
    name: 'Conclusion',
    beforeRouteEnter (to, from, next) {
      next(vm => {
        if (vm.$store.getters.isCompleted) {
          vm.changeBGM()
          next()
        } else {
          vm.$router.push('/activity')
        }
      })
    },
    data () {
      return {
        videoEnded: false
      }
    },
    computed: {
      ...mapState(['totalScore']),
      ...mapGetters(['conclusion']),
      video () {
        return require(`@/assets/videos/consequence-${this.conclusion.result}.mp4`)
      }
    },
    methods: {
      changeBGM () {
        const backgroundMusic = document.getElementById('bg-music')
        backgroundMusic.src = require(`@/assets/audio/consequence-${this.conclusion.result}.mp3`)
        backgroundMusic.load()

        backgroundMusic.play()
      },
      onVideoEnded () {
        this.videoEnded = true
      },
      replayGame () {
        window.localStorage.setItem('isFirstTry', JSON.stringify(false))

        this.$router.push('/')
        window.location.reload()
      },
      gotoCredits () {
        this.$router.push('/credits')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $heavy: 'blender pro heavy', sans-serif;

  video {
    height: 100vh;
  }

  .ending {
    font-family: $heavy;

    p {
      margin: 0 25%;
      font-size: 1.7em;
    }

    h3 {
      font-size: 2.3em;
    }

    img {
      height: 4.5vw;
      animation: shake 3s infinite;
    }

    button {
      margin-top: 3%;
      font-size: 1.3em;
      width: 30%;
    }
  }

  @keyframes shake {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }

    40% {
      transform: translateX(-3vw);
    }

    60% {
      transform: translateX(4vw);
    }

    90% {
      transform: translateX(1vw);
    }
  }
</style>
