<template>
  <div class="modal" :class="{ 'is-active': isActive }">
    <div class="modal-background" @click="closeModal"></div>

    <div class="modal-content has-text-centered">
      <div class="modal-card-header">
        <transition enter-active-class="animated fadeIn">
          <img :key="selectedAvatar.name"
               :src="require(`@/assets/images/choose-avatar/${selectedAvatar.name.toLowerCase()}.png`)"
               class="avatar-image"/>
        </transition>
      </div>

      <div class="modal-card-body">
        <h1 class="modal-card-title">Confirm selection</h1>
        <p class="content">
          Are you sure you want to proceed with the <span>{{ selectedAvatar.name }}</span> avatar?
        </p>

        <div class="buttons">
          <button class="button is-blue column is-yes" @click="incrementStoryCounter" @mouseover="onMouseOver">
            <span>Yes</span>

          </button>

          <button class="button is-red column is-no" @click="closeModal" @mouseover="onMouseOver">
            <span>No</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ConfirmAvatar',
    props: {
      isActive: Boolean,
      selectedAvatar: Object
    },
    methods: {
      closeModal () {
        this.$emit('closeModal')
      },
      playAudio (path) {
        const audio = document.createElement('audio')
        audio.src = path
        audio.load()

        audio.play()
      },
      onMouseOver () {
        this.playAudio(require(`@/assets/audio/hover.mp3`))
      },
      incrementStoryCounter () {
        this.$store.commit('setAvatar', this.selectedAvatar)

        window.localStorage.getItem('isFirstTry') || window.localStorage.setItem('isFirstTry', JSON.stringify(true))
        this.$emit('incrementStoryCounter')

        this.closeModal()
      }
    }
  }
</script>

<style lang="scss" scoped>
  $heavy: 'blender pro heavy', sans-serif;
  $bold: 'blender pro bold', sans-serif;
  $book: 'blender pro book', sans-serif;

  .modal-content {

    .modal-card-header {
      overflow: hidden;

      img {
        width: 40vh;
        margin-bottom: -2%;
      }
    }

    .modal-card-body {
      background-color: rgba(36, 30, 37, 0.8);

      h1 {
        font-family: $heavy;
        line-height: 80%;
        font-size: 2.25em;
        color: #cbcfd3;
      }

      p {
        font-family: $book;
        font-size: 1.27em;
        color: #cbcfd3;
      }

      span {
        font-family: $heavy;
      }

      .buttons {
        padding: 0 5%;
      }

      button {
        font-size: 1.2em;
        padding: 0;
      }
    }
  }

</style>
