<template>
  <transition enter-active-class="animated fadeIn">
    <div class="modal" :class="{ 'is-active': isActive }">
      <div class="modal-background" @click="closeModal"></div>

      <div class="modal-card">
        <div class="modal-card-head">
          <h1>Confirm Skip?</h1>
        </div>

        <div class="modal-card-body">
          <p class="content">
            <audio v-if="isActive" :src="require(`@/assets/audio/ai-audio/ai-skip.mp3`)" autoplay></audio>
            Are you sure you want to skip the message? It is advisable to play the message if you have not already seen
            it.
          </p>

          <div class="buttons">
            <button class="button is-blue is-yes" @click="navigateToActivity" @mouseover="onMouseOver">
              Yes
            </button>
            <button class="button is-red is-no" @click="closeModal" @mouseover="onMouseOver">No</button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'ConfirmModal',
    props: {
      isActive: Boolean
    },
    methods: {
      playAudio (path) {
        const audio = document.createElement('audio')
        audio.src = path
        audio.load()

        audio.play()
      },
      onMouseOver () {
        this.playAudio(require(`@/assets/audio/hover.mp3`))
      },
      navigateToActivity () {
        this.$router.push('/activity')
      },
      closeModal () {
        this.$emit('closeModal')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $heavy: 'blender pro heavy', sans-serif;
  $bold: 'blender pro bold', sans-serif;
  $book: 'blender pro book', sans-serif;

  .fadeIn {
    animation-duration: 0.25s;
  }

  .modal-card {

    .modal-card-head {
      background-color: rgba(255, 255, 255, 0.6);
      border-color: black;

      h1 {
        font-family: $heavy;
        font-size: 4em;
        line-height: 80%;
        margin-left: -0.5%;
      }

      p {
        font-family: $bold;
        font-size: 1.95em;
        line-height: 80%;
      }
    }

    .modal-card-body {
      background-color: rgba(255, 255, 255, 0.6);

      p {
        font-family: $book;
        font-size: 1.45em;
        margin-bottom: 3%;
      }

      .buttons {
        display: grid;
        grid-template-columns: 40% 40%;
        grid-column-gap: 20%;
      }

      button {
        width: 100%;
        height: 6vh;
        font-size: 1.45em;
        margin-top: 3%;
      }
    }
  }
</style>
