<template>
  <section :style="{ backgroundImage: `url(${require(`@/assets/images/tutorial/scene-tutorial.jpg`)})` }">
    <div class="container">
      <div class="incoming-message is-uppercase is-light">
        <p>Incoming</p>
        <p>message from</p>
        <p>....</p>
        <h1>Marcus Beam</h1>
        <p>Senior Diplomat</p>
        <p>Human Federation</p>

        <div class="buttons">
          <button class="button is-red is-skip" @click="openConfirmDialog" @mouseover="onMouseOver" v-if="!isFirstTry">
            Skip Tutorial
          </button>

          <button class="button is-blue is-view" @click="playTutorial" @mouseover="onMouseOver">View Tutorial</button>
        </div>
      </div>
    </div>

    <confirm-modal :isActive="isActive" @closeModal="closeConfirmModal"/>

    <audio v-if="!isActive" :src="require(`@/assets/audio/ai-audio/ai-new-message.mp3`)" autoplay></audio>
  </section>
</template>

<script>
  import { mapState } from 'vuex'
  import ConfirmModal from '@/components/ConfirmModal'

  export default {
    name: 'Introduction',
    components: { ConfirmModal },
    data () {
      return {
        isFirstTry: true,
        isActive: false
      }
    },
    computed: {
      ...mapState(['avatars'])
    },
    mounted () {
      const isFirstTry = JSON.parse(window.localStorage.getItem('isFirstTry'))

      switch (isFirstTry) {
        case null:
        case true:
          this.isFirstTry = true
          break
        default:
          this.isFirstTry = false
          break
      }
    },
    methods: {
      playAudio (path) {
        const audio = document.createElement('audio')
        audio.src = path
        audio.load()

        audio.play()
      },
      onMouseOver () {
        this.playAudio(require(`@/assets/audio/hover.mp3`))
      },
      openConfirmDialog () {
        this.isActive = true
      },
      closeConfirmModal () {
        this.isActive = false
      },
      playTutorial () {
        this.playAudio(require(`@/assets/audio/click.mp3`))

        this.$router.push('/tutorial')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $heavy: 'blender pro heavy', sans-serif;
  $book: 'blender pro book', sans-serif;

  .incoming-message {
    position: fixed;
    top: 26vh;
    left: 19vw;

    h1 {
      font-family: $heavy;
      font-size: 4.5em;
    }

    p {
      font-family: $book;
      font-size: 2em;
    }

    .buttons {
      margin-top: 2%;

      button {
        font-size: 1em;
      }
    }
  }
</style>
