<template>
    <section :style="{ backgroundImage: `url(${require(`@/assets/images/dialogues/${faction.background}`)})`}">
        <section class="section">
            <div class="quiz-image-side">
                <div class="quiz-image">
                    <transition enter-active-class="animated fadeIn">
                        <img :key="currentEmotion" class="is-fixed-bottom"
                             :src="require(`@/assets/images/dialogues/${faction.images[currentEmotion].image}`)" alt=""
                             v-if="currentFaction"/>
                    </transition>
                </div>

                <div class="ai-help is-light" v-if="helpIcon">
                    <img :src="require(`@/assets/images/tutorial/ai-helper.png`)" alt="">
                    <p>Help files & hint are located here</p>
                </div>

                <transition enter-active-class="animated fadeInUp" leave-active-class="animated fadeOutDown">
                    <div class="hint-bar" v-if="isAIHinted" @click="isAIHinted = !isAIHinted">
                        <div class="card">
                            <header class="card-header">
                                <h1>Hint</h1>
                            </header>

                            <div class="card-content"><p>{{ faction.hint }}</p></div>

                            <div class="card-content">
                                <p class="content">
                                    Choose the best response to convince the {{ faction.name }} to work together with
                                    the Galactic Union.
                                    Choosing the most appropriate response would make {{ faction.gender | format }} more
                                    likely to
                                    help us.</p>
                            </div>
                        </div>
                    </div>
                </transition>
            </div>

            <div class="quiz-text-side column" v-if="!goMap">
                <div class="question-box" v-if="faction" :class="faction.style">
                    <div class="question-head">
                        <h1>{{ faction.name }}</h1>
                    </div>

                    <div class="question-content">
                        <p v-if="!isResponse">{{ showRepeat ? quiz.questionRepeat : quiz.question }}</p>
                        <p v-else>{{ response }}</p>

                        <div class="reaction">{{ reaction }}</div>

                        <p class="content hint-if-wrong" v-if="currentEmotion === 2">Choose another option.</p>
                    </div>
                </div>

                <div class="quiz-choices-side">
                    <div class="quiz-choices is-correct" v-if="gotCorrectAnswer">
                        <div class="quiz-choice-button" :key="choice.id" v-for="choice in choices">
                            <button class="button is-choice" disabled>
                                <span>{{ choice.text }}</span>
                            </button>
                        </div>
                    </div>

                    <div class="quiz-choices" v-else>
                        <div class="quiz-choice-button" :key="choice.id" v-for="choice in choices">
                            <button class="button is-choice" :disabled="disableChoice(choice.id)"
                                    @click="checkAnswer(choice.id, choice.score, choice.reaction, choice.response)">
                                <span>{{ choice.text }}</span>
                            </button>
                        </div>
                    </div>

                    <div class="quiz-next">
                        <transition enter-active-class="animated fadeIn">
                            <button class="button is-world is-next" @click="handleNextQuestion"
                                    :disabled="!isCorrect">
                                Continue
                            </button>
                        </transition>
                    </div>
                </div>
            </div>

            <div class="quiz-text-side" v-else>
                <div class="question-box" v-if="faction" :class="faction.style">
                    <div class="question-head">
                        <h1>{{ faction.name }}</h1>
                    </div>

                    <div class="question-content">
                        <p>{{ faction.goodbye }}</p>
                    </div>
                </div>

                <div class="quiz-choices-side">
                    <div class="quiz-next">
                        <transition enter-active-class="animated fadeIn">
                            <button class="button is-world" @click="goNextRoute">Galactic Map</button>
                        </transition>
                    </div>
                </div>
            </div>
        </section>

        <div class="quiz-help-buttons is-fixed-bottom">
            <div class="hint-button">
                <img :src="require(`@/assets/icons/hint.png`)" :class="{ active: isAIHinted }" alt="Hint button"
                     @click="toggleAIHint"/>
            </div>
            <div class="tutorial-bar">
                <div class="tutorial-info">
                    <img :src="require(`@/assets/icons/info.png`)" :class="{ active: isTutorialShow }" alt="Info icon"
                         @click="isShowTutorial"/>
                </div>

                <div class="tutorial-buttons">
                    <transition enter-active-class="animated fadeInLeft" leave-active-class="animated fadeOutLeft">
                        <div v-show="isTutorialShow">
                            <button class="button is-blue open-modal" @click="openModal(tutorial)" :key="tutorial.name"
                                    v-for="tutorial in tutorials">
                                {{ tutorial.name }}
                            </button>
                        </div>
                    </transition>
                </div>
            </div>
        </div>

        <audio id="audio-narration"></audio>

        <tutorial-modal :selectedTutorial="selectedTutorial" :isActive="isActive" @closeModal="closeModal"/>
        <quiz-modal :isQuizModal="isQuizModal" @closeQuizModal="closeQuizModal" v-if="isQuizModal"/>
    </section>
</template>

<script>
  import { mapState } from 'vuex'
  import TutorialModal from '@/components/TutorialModal'
  import QuizModal from '@/components/QuizModal'

  export default {
    name: 'Quiz',
    components: {TutorialModal, QuizModal},
    beforeRouteEnter (to, from, next) {
      next(vm => {
        if (vm.$store.state.currentFaction) {
          vm.changeBGM()
          next()
        } else {
          vm.$router.push('/activity')
        }
      })
    },
    data () {
      return {
        goMap: false,
        isQuizModal: true,
        quizIndex: 0,
        helpIcon: true,
        selectedChoice: null,
        arraySelectedChoices: [],
        isCorrect: false,
        showRepeat: false,
        isAIHinted: false,
        gotCorrectAnswer: false,
        currentEmotion: 0,
        isTutorialShow: false,
        showTutorial: false,
        selectedTutorial: {},
        isActive: false,
        reaction: '',
        isResponse: false,
        response: ''
      }
    },
    computed: {
      ...mapState(['currentFaction', 'currentFactionIndex', 'factions', 'tutorials']),
      faction () {
        return this.factions[this.currentFactionIndex]
      },
      quiz () {
        return this.faction ? this.faction.quiz[this.quizIndex] : false
      },
      choices () {
        return this.quiz.choices
      },
      race () {
        return this.faction.race.toLowerCase().replace(/\s+/g, '-')
      }
    },
    filters: {
      format (gender) {
        return gender === 'Male' ? 'him' : 'her'
      }
    },
    methods: {
      onMouseOver () {
        this.playAudio(require(`@/assets/audio/hover.mp3`))
      },
      changeBGM () {
        const backgroundMusic = document.querySelector('audio#bg-music')
        backgroundMusic.src = require(`@/assets/audio/bg-quiz.mp3`)
        backgroundMusic.load()

        backgroundMusic.play()
      },
      changeActivityBGM () {
        const backgroundMusic = document.querySelector('audio#bg-music')

        backgroundMusic.src = require(`@/assets/audio/bg-activity.mp3`)
        backgroundMusic.load()

        backgroundMusic.play()
      },
      generateAudio (id) {
        const audio = `response-${this.quizIndex}-${id}.mp3`
        return require(`@/assets/audio/${this.race}/${audio}`)
      },
      playAudio (path) {
        const audio = document.getElementById('audio-narration')
        audio.src = path
        audio.load()

        audio.play()
      },
      checkAnswer (id, score, reaction, response) {
        this.$store.commit('calculateScore', score)

        this.selectedChoice = id
        this.isResponse = true

        this.reaction = reaction
        this.response = response

        this.playAudio(this.generateAudio(id))
        this.arraySelectedChoices.push(id)

        const isCorrect = this.choices.some(choice => choice.id === id && choice.correct)

        if (isCorrect) {
          this.isCorrect = true
          this.gotCorrectAnswer = true
          this.currentEmotion = 1
        } else {
          this.showRepeat = true
          this.currentEmotion = 2
        }
      },
      handleNextQuestion () {
        if (this.quizIndex < this.faction.quiz.length - 1) {
          this.playAudio(require(`@/assets/audio/${this.race}/question-repeat.mp3`))
          this.reaction = ''
          this.currentEmotion = 0

          this.isResponse = false
          this.isCorrect = false
          this.gotCorrectAnswer = false
          this.showRepeat = false

          this.arraySelectedChoices = []
          this.quizIndex++
        } else {
          this.playAudio(require(`@/assets/audio/${this.race}/ending.mp3`))

          this.goMap = true
        }
      },
      goNextRoute () {
        this.changeActivityBGM()
        this.$store.commit('setCurrentFaction', null)

        this.$router.push('/activity')
      },
      disableChoice (id) {
        return this.arraySelectedChoices.some(choice => choice === id)
      },
      toggleAIHint () {
        this.isAIHinted = !this.isAIHinted
        this.helpIcon = false
      },
      isShowTutorial () {
        this.isTutorialShow = !this.isTutorialShow
        this.helpIcon = false
      },
      openModal (tutorial) {
        this.selectedTutorial = tutorial
        this.isActive = true
      },
      closeModal () {
        this.isActive = false
      },
      closeQuizModal () {
        this.isQuizModal = false

        this.playAudio(require(`@/assets/audio/${this.race}/question.mp3`))
      }
    }
  }
</script>

<style lang="scss" scoped>
    $heavy: 'blender pro heavy', sans-serif;
    $book: 'blender pro book', sans-serif;
    $bold: 'blender pro bold', sans-serif;
    $thin: 'blender pro thin', sans-serif;

    section {
        background-size: cover;
        height: 100vh;
    }

    h1 {
        font-family: $heavy;
    }

    .section {
        padding: 0;
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .card {
        background-color: rgba(0, 0, 0, 0.7);
        color: whitesmoke;

        h1 {
            margin: 1% 0 0 3%;
            font-family: $heavy;
            font-size: 3.4em;
            line-height: 100%;
        }

        p {
            font-family: $bold;
            font-size: 1.2em;
            line-height: 100%;
        }
    }

    .quiz-image-side {
        width: 100%;

        .ai-help {
            position: fixed;
            display: flex;
            width: 18vw;
            bottom: 5.5vh;
            left: 7.5vw;

            img {
                height: 3vw;
                animation: bounce 5s linear infinite;
            }

            p {
                background-color: rgba(0, 0, 0, 0.55);
                padding: 4%;
                font-size: 1em;
                font-family: $bold;
            }
        }

        .quiz-image {

            img {
                width: 45%;
                margin-left: 5%;
            }
        }
    }

    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
            transform: translateY(0);
        }
        40% {
            transform: translateY(-30px);
        }
        60% {
            transform: translateY(-15px);
        }
    }

    .quiz-text-side {
        margin-top: 7.5%;

        .question-box {
            padding: 2% 10% 0 10%;

            .question-head {

                h1 {
                    font-family: $heavy;
                    font-size: 3.5em;
                    line-height: 100%;
                }
            }

            .question-content {

                p {
                    font-family: $book;
                    font-size: 1.7em;
                    line-height: 100%;
                }

                .reaction, .hint-if-wrong {
                    font-family: $heavy;
                    font-size: 1.2em;
                    margin-top: 2%;
                }

                .hint-if-wrong {
                    text-decoration: underline;
                    text-decoration-color: #ff6e60;
                }
            }
        }
    }

    .quiz-choices-side {
        padding: 3% 6% 0;

        .is-correct {
            button {

                &:disabled {
                    color: rgba(36, 30, 37, 1) !important;
                    background-color: #b9edfb !important;

                    &:hover {
                        color: rgba(36, 30, 37, 1);
                        background-color: #b9edfb;
                    }
                }
            }
        }

        .quiz-choices {

            .quiz-choice-button {
                margin: 0 5.4%;

                .is-choice {
                    margin: 1% 0;
                    border: none;
                    width: 92%;
                    color: whitesmoke;
                    background-color: rgba(0, 0, 0, 0.35);
                    font-family: $bold;
                    font-size: 1.2em;

                    &:hover {
                        border: 1px solid #b9edfb;
                        background: linear-gradient(to bottom, rgba(34, 70, 92, 0.9) 1%, rgba(15, 23, 30, 0.9) 27%, rgba(10, 14, 17, 0.9) 100%);
                        color: #d9fffe;
                    }

                    &:disabled {
                        color: #22465c;
                        border-color: #b9edfb;
                        background-color: #df8178;

                        &:hover {
                            color: #22465c;
                            border-color: #22465c;
                            background: #df8178;
                        }
                    }
                }
            }
        }

        .quiz-next {
            margin: 5% 13% 0 20%;

            button {
                width: 100%;
            }
            :disabled {
                border-color: #fc504e;
                background-color: red;
                color: #fc504e;
            }
        }
    }

    .hint-bar {
        position: absolute;
        width: 30vw;
        bottom: 15vh;
        left: 8vw;

        .card-content {
            padding: 2% 4%;
        }
    }

    .hint-button {
        img {
            width: 8%;
            animation: pulse 1s infinite;

            &:hover {
                cursor: pointer;
                animation: brightness 3s infinite;
            }
        }

        .active {
            animation: brightness 3s infinite;
        }
    }

    .quiz-help-buttons {
        margin: 0 40% 2% 3%;

        .tutorial-bar {
            display: grid;
            grid-template-columns: 8% 70%;

            .tutorial-buttons {
                margin-top: 2vh;
                overflow: hidden;

                button {
                    font-size: 1em;
                    margin: 0 2.5%;
                }
            }

            .tutorial-info {
                width: 100%;

                img {
                    animation: pulse 1s infinite;

                    &:hover {
                        cursor: pointer;
                        animation: brightness 3s infinite;
                    }
                }

                .active {
                    animation: brightness 3s infinite;
                }
            }
        }
    }

    @keyframes pulse {
        0%, 100% {
            transform: scale(1);
            filter: brightness(1);
        }

        50% {
            transform: scale(1.01);
            filter: brightness(1.6);
        }
    }

    @keyframes brightness {
        0%, 100% {
            filter: brightness(5);
        }
        50% {
            filter: brightness(10);
        }
    }
</style>
