<template>
  <div class="modal" :class="{ 'is-active' : isQuizModal }">
    <div class="modal-background" @click="closeQuizModal"></div>

    <div class="modal-card">
      <div class="modal-card-head">
        <img class="is-6" :src="require(`@/assets/images/tutorial/ai-helper.png`)" alt="">
        <h1>AI Hint</h1>
      </div>

      <div class="modal-card-body">
        <h2 class="content">{{ faction.hint }}</h2>

        <audio autoplay :src="getAudio"></audio>

        <p>Choose the best response to convince the {{ faction.name }} to work together with the Galactic Union.
          Choosing the most appropriate response would make {{ faction.gender | format }} more likely to help us.
        </p>

        <br>

        <div class="buttons">
          <button class="button is-blue" @click="closeQuizModal">Begin</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'QuizModal',
    props: {
      isQuizModal: Boolean
    },
    computed: {
      ...mapState(['currentFactionIndex', 'factions']),
      faction () {
        return this.factions[this.currentFactionIndex]
      },
      getAudio () {
        return require(`@/assets/audio/ai-audio/${this.faction.audioHint}`)
      }
    },
    filters: {
      format (gender) {
        return gender === 'Male' ? 'him' : 'her'
      }
    },
    methods: {
      closeQuizModal () {
        this.$emit('closeQuizModal')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $heavy: 'blender pro heavy', sans-serif;
  $bold: 'blender pro bold', sans-serif;
  $book: 'blender pro book', sans-serif;

  .modal-card {
    height: 60%;

    .modal-card-head {
      background-color: rgba(255, 255, 255, 0.6);
      border-color: black;
      border-radius: 0;
      display: flex;
      align-items: left;

      img {
        width: 10%;
      }

      h1 {
        margin: auto 0 auto 5%;
        font-family: $heavy;
        font-size: 3.5em;
        line-height: 80%;
      }
    }

    .modal-card-body {
      background-color: rgba(255, 255, 255, 0.6);
      padding: 5%;
      position: relative;

      h2 {
        font-family: $bold;
        font-size: 1.8em;
        line-height: 100%;
      }

      p {
        font-family: $book;
        font-size: 1.45em;
        line-height: 100%;
      }

      .buttons {
        position: absolute;
        width: 90%;
        bottom: 15%;

        button {
          margin: 0 auto;
        }
      }
    }
  }
</style>
