<template>
  <section class="hero is-fullheight" :style="{ backgroundImage: `url(${require(`@/assets/images/bg-splash.jpg`)})` }">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered has-text-centered">
          <div class="column">
            <button class="splash-button is-large is-uppercase" @click="startMission" @mouseover="onMouseOver">
              Start Mission
            </button>
          </div>
        </div>
      </div>
    </div>

    <audio ref="audio"></audio>
  </section>
</template>

<script>
  export default {
    name: 'SplashScreen',
    methods: {
      playAudio (path) {
        const audio = document.createElement('audio')
        audio.src = path
        audio.load()

        audio.play()
      },
      onMouseOver () {
        this.playAudio(require(`@/assets/audio/hover.mp3`))
      },
      startMission () {
        this.playAudio(require(`@/assets/audio/click.mp3`))

        this.$router.push('/choose-avatar')
      }
    }
  }
</script>

<style lang="scss" scoped>
  $book: 'blender pro book', sans-serif;

  .splash-button {
    border: none;
    color: #cbcfd3;
    padding: 0 2%;
    background: rgba(0, 0, 0, 0);
    font-size: 3.37em;
    font-family: $book;

    &:hover {
      background: linear-gradient(to right, #fc60a7 20%, #fc64ae 40%, #e0bec8 60%, #fb62a8 80%);
      background-size: 200% auto;
      cursor: pointer;
      color: #000;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: shine 1.5s linear infinite;

      @keyframes shine {
        to {
          background-position: 200% center;
        }
      }

      &::before {
        content: '◈';
      }

      &::after {
        content: '◈';
      }
    }
  }
</style>
