<template>
  <section :style="{ backgroundImage: `url(${require(`@/assets/images/tutorial/scene-tutorial.jpg`)})` }">
    <div class="container">
      <div class="tutorial">
        <h1>Senior Diplomat</h1>

        <p class="content">Ambassador, the galaxy is in chaos. The Galactic Union cannot agree on how we should handle
          The Void. We need you to speak with our allies separately and convince them to work together for the common
          good!</p>

        <p class="content">When you speak with our allies, you need to keep in mind your Purpose, Audience, Context
          and Culture. I've attached some briefing files for you to review - it would be wise to go through them before
          starting your mission.</p>

        <div class="tutorial-bar">
          <div class="tutorial-info">
            <img :src="require(`@/assets/icons/info.png`)" class="is-tutorial-icon" :class="{ active: showTutorial }"
                 @click="showTutorial = !showTutorial" @mouseover="onMouseOver" alt=""/>
          </div>

          <div class="tutorial-buttons">
            <transition enter-active-class="animated slideInLeft" leave-active-class="animated slideOutLeft">
              <div v-if="showTutorial">
                <button class="button is-blue is-tutorial" :key="tutorial.name" v-for="tutorial in tutorials"
                        @click="openModal(tutorial)" @mouseover="onMouseOver">
                  {{ tutorial.name }}
                </button>
              </div>
            </transition>
          </div>
        </div>

        <div class="to-activity">
          <button class="button is-yellow is-next" @click="gotoActivity" :disabled="isDisabled"
                  @mouseover="onMouseOver">
            Galactic Map<span>⬕</span></button>
        </div>
      </div>

      <tutorial-modal :selectedTutorial="selectedTutorial" :isActive="isActive" @closeModal="closeModal"
                      v-if="Object.keys(selectedTutorial).length > 0"/>
    </div>

    <audio :src="require(`@/assets/audio/senior-diplomat/senior-diplomat-1.mp3`)" autoplay v-if="isDisabled"></audio>
  </section>
</template>

<script>
  import { mapState } from 'vuex'
  import TutorialModal from '@/components/TutorialModal'

  export default {
    name: 'Tutorial',
    components: { TutorialModal },
    data () {
      return {
        fileIndex: 0,
        selectedTutorial: {},
        showTutorial: false,
        isActive: false,
        isDisabled: true
      }
    },
    computed: {
      ...mapState(['tutorials'])
    },
    mounted () {
      window.addEventListener('keyup', ev => {
        if (ev.key === 'Escape') this.closeModal()
      })
    },
    methods: {
      playAudio (path) {
        const audio = document.createElement('audio')
        audio.src = path
        audio.load()

        audio.play()
      },
      onMouseOver () {
        this.playAudio(require(`@/assets/audio/hover.mp3`))
      },
      gotoActivity () {
        this.$router.push('/activity')
      },
      openModal (tutorial) {
        this.selectedTutorial = tutorial
        this.isActive = true
        this.isDisabled = false
      },
      closeModal () {
        this.isActive = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  $heavy: 'blender pro heavy', sans-serif;
  $book: 'blender pro book', sans-serif;
  $bold: 'blender pro bold', sans-serif;

  .tutorial {
    position: fixed;
    top: 24vh;
    left: 19vw;
    width: 38%;

    h1 {
      font-family: $heavy;
      font-size: 2.45em;
    }

    p {
      line-height: 100%;
      font-family: $bold;
      font-size: 1.45em;
    }
  }

  .is-blue {
    margin: 2vh 2% 0;
    font-size: 1em;
  }

  .to-activity {
    margin-top: 1%;

    button {
      width: 85%;
    }
  }

  .tutorial-bar {
    display: grid;
    grid-template-columns: 17% 80%;
  }

  .tutorial-info {
    width: 100%;

    img {
      width: 80%;
      animation: pulse 1s infinite;

      &:hover {
        cursor: pointer;
        animation: brightness 5s infinite;
      }
    }

    .active {
      animation: brightness 5s infinite;
    }

    @keyframes pulse {
      0%, 100% {
        transform: scale(1);
        filter: brightness(1);
      }

      50% {
        transform: scale(1.01);
        filter: brightness(1.6);
      }
    }

    @keyframes brightness {
      0%, 100% {
        filter: brightness(8);
      }

      50% {
        filter: brightness(10);
      }
    }
  }

  .tutorial-buttons {
    overflow: hidden;
  }
</style>
