<template>
  <transition enter-active-class="animated fadeIn">
    <div :key="isActive" class="modal" :class="{ 'is-active' : isActive }">
      <div class="modal-background" @click="closeModal"></div>

      <div class="modal-card">
        <div class="modal-card-head has-text-centered">
          <h1>{{ selectedTutorial.name }}</h1>

          <p class="para-one" v-if="selectedTutorial.messages">{{ selectedTutorial.messages[0].text }}</p>
        </div>

        <div class="modal-card-body">
          <audio :src="require(`@/assets/audio/senior-diplomat/${selectedTutorial.audio}`)" autoplay
                 v-if="isActive"></audio>
          <p class="para-two" v-if="selectedTutorial.messages">{{ selectedTutorial.messages[1].text }}</p>
          <p class="para-three" v-if="selectedTutorial.messages">{{ selectedTutorial.messages[2].text }}</p>
        </div>

        <div class="modal-card-foot">
          <button class="button is-yellow close-modal" @click="closeModal">Close</button>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'TutorialModal',
    props: {
      isActive: Boolean,
      selectedTutorial: Object
    },
    methods: {
      closeModal () {
        this.$emit('closeModal')
      },
      playAudio (path) {
        const audio = document.createElement('audio')
        const narration = document.getElementById('audio-narration')

        narration.pause()

        audio.src = path
        audio.load()

        audio.play()
      }
    }
  }
</script>

<style lang="scss" scoped>
  $heavy: 'blender pro heavy', sans-serif;
  $bold: 'blender pro bold', sans-serif;
  $book: 'blender pro book', sans-serif;

  .fadeIn {
    animation-duration: 0.25s;
  }

  .modal-card {

    .modal-card-head {
      background-color: rgba(255, 255, 255, 0.6);
      border-color: black;
      border-radius: 0;
      display: flex;
      flex-direction: column;
      align-items: left;

      h1 {
        font-family: $heavy;
        font-size: 6.9em;
        line-height: 80%;
      }

      .para-one {
        font-family: $bold;
        font-size: 1.75em;
        line-height: 100%;
        margin-bottom: -1%;
      }
    }

    .modal-card-body {
      background-color: rgba(255, 255, 255, 0.6);

      .para-two {
        font-family: $bold;
        font-size: 1.55em;
        line-height: 100%;
        margin-bottom: 3%;
      }

      .para-three {
        font-family: $book;
        font-size: 1.45em;
        line-height: 100%;
        margin-bottom: 3%;
      }
    }

    .modal-card-foot {
      background-color: rgba(255, 255, 255, 0.6);
      border-color: black;

      button {
        width: 100%;
      }
    }
  }
</style>
