<template>
  <div id="app">
    <div v-show="correctScreen">
      <transition enter-active-class="animated fadeIn">
        <keep-alive include="Activity">
          <router-view/>
        </keep-alive>
      </transition>
    </div>

    <transition enter-active-class="animated slideInUp">
      <div :key="correctScreen" class="hero is-fullheight rotate-screen"
           :style="{ backgroundImage: `url(${require(`@/assets/images/bg-splash.jpg`)})` }" v-show="!correctScreen">
        <div class="column has-text-centered rotate-screen-text">
          <h1 class="content is-uppercase">Please adjust your screen size</h1>
        </div>
      </div>
    </transition>

    <audio id="bg-music" :src="require(`@/assets/audio/bg-audio.mp3`)" autoplay loop></audio>
  </div>
</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'app',
    computed: {
      ...mapState(['correctScreen'])
    },
    mounted () {
      this.invokeOrientationChange()
      window.addEventListener('resize', this.invokeOrientationChange)

      const bgMusic = document.getElementById('bg-music')
      bgMusic.volume = 0.3
    },
    methods: {
      invokeOrientationChange () {
        this.$store.commit('correctScreen', window.innerWidth > window.innerHeight && window.innerHeight > window.innerWidth / 2.5)
      }
    }
  }
</script>

<style lang="scss">
  @import './sass/app.scss';

  $heavy: 'Blender Pro Heavy', sans-serif;

  body, html {
    overflow-x: hidden;
    overflow-y: hidden !important;
    background-color: #000;
    color: #25241b;
  }

  @font-face {
    font-family: 'blender pro bold';
    src: url("./assets/fonts/blender-pro-bold.ttf") format('truetype');
  }

  @font-face {
    font-family: 'blender pro book';
    src: url("./assets/fonts/blender-pro-book.ttf") format('truetype');
  }

  @font-face {
    font-family: 'blender pro heavy';
    src: url("./assets/fonts/blender-pro-heavy.ttf") format('truetype');
  }

  @font-face {
    font-family: 'blender pro medium';
    src: url("./assets/fonts/blender-pro-medium.ttf") format('truetype');
  }

  @font-face {
    font-family: 'blender pro thin';
    src: url("./assets/fonts/blender-pro-thin.ttf") format('truetype');
  }

  section {
    background: no-repeat center;
    background-size: cover;
    min-height: 100vh;
    font-size: 1vw;
  }

  video {
    background-color: #000;
  }

  button {
    font-family: $heavy;
  }

  .is-light {
    color: #cdd3d2;
  }

  .is-black {
    color: #373308
  }

  .is-blue {
    background-color: rgba(36, 30, 37, 0.9);
    border-color: #79defc;
    font-size: 1.3em;
    color: #79defc;
    border-radius: 0;

    &:hover {
      border: 1px solid #79defc;
      background: linear-gradient(to right, #79defc 20%, #79defc 40%, #55ccfb 60%, #55ccfb 80%);
      background-size: 200% auto;
      color: rgba(36, 30, 37, 1);
      animation: shine 1s linear infinite reverse;
      animation-iteration-count: 1
    }
  }

  .is-red {
    background-color: rgba(36, 30, 37, 0.9);
    border-color: rgba(246, 86, 71, 1);
    font-size: 1.3em;
    color: rgba(246, 86, 71, 1);;
    border-radius: 0;

    &:hover {
      border: 1px solid #fb5550;
      background: linear-gradient(to right, #fc7068 20%, #fc7068 40%, #fc504e 60%, #fc504e 80%);
      background-size: 200% auto;
      color: rgba(36, 30, 37, 1);
      animation: shine 1s linear infinite reverse;
      animation-iteration-count: 1;
    }
  }

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }

  .is-yellow {
    border-color: #f4ec9d;
    background-color: rgba(36, 30, 37, 0.9);
    font-size: 1.3em;
    color: #f4ec9d;
    border-radius: 0;
    transition: all 1s ease;

    span {
      line-height: 10%;
      margin-left: 5%;
      transform: rotate(45deg);
    }
    &:disabled {
      background-color: rgba(36, 30, 37, 0.9);
      animation: none;

      span {
        visibility: hidden;
      }
      &:hover {
        background-color: #fb5550;
        animation: none;
      }
    }

    &:hover {
      border-color: #f4ec9d;
      background: linear-gradient(to right, #f4ec9d 20%, #f4ec9d 40%, #f4e87b 60%, #f4e87b 80%);
      background-size: 200% auto;
      color: rgba(36, 30, 37, 1);
      animation: shine 1s linear infinite reverse;
      animation-iteration-count: 1;

      span {
        animation: rotate 1s forwards;
      }
      @keyframes rotate {
        from {
          transform: rotate(-90deg);
        }
        to {
          transform: rotate(225deg);
        }
      }
    }
  }

  .is-world {
    border: 1px solid rgba(36, 30, 37, 1);
    background: linear-gradient(to bottom, rgba(34, 70, 92, 0.9) 1%, rgba(15, 23, 30, 0.9) 20%, rgba(10, 14, 17, 0.9) 100%);
    color: #d9fffe;

    &:disabled {
      opacity: 0.5;

      &:hover {
        color: #d9fffe;
        background: linear-gradient(to bottom, rgba(34, 70, 92, 0.9) 1%, rgba(15, 23, 30, 0.9) 20%, rgba(10, 14, 17, 0.9) 100%);
      }
    }

    &:hover {
      border: 1px solid #b9edfb;
      background: linear-gradient(to right, #b9edfb 20%, #bbd9e9 40%, #fff 60%, #b9edfb 80%);
      background-size: 200% auto;
      color: rgba(36, 30, 37, 1);
      animation: shine 1.5s linear infinite reverse;
    }
  }

  .is-fixed-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @media screen and (min-width: 769px) {
    .modal-content {
      margin: 0 20px !important;
    }
  }

  .rotate-screen {
    background-size: cover;
    background-position: center;

    .rotate-screen-text {
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h1 {
        font-family: $heavy;
        font-size: 5vw;
        line-height: 80%;
        color: #cdd3d2;
      }
    }
  }
</style>
